study/src/main/java/com/microsoft/study/abcd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="success"/>
        <xs:element type="xs:string" name="message"/>
        <xs:element type="xs:string" name="errorCode"/>
        <xs:element type="xs:string" name="errorMessage"/>
        <xs:element type="xs:long" name="systime"/>
        <xs:element type="xs:string" name="requestIP"/>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ok"/>
              <xs:element name="contacts" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:long" name="mobile"/>
                    <xs:element type="xs:int" name="id"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>