study/src/main/java/com/microsoft/study/信用卡支付请求.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="common">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sname"/>
              <xs:element type="xs:string" name="sver"/>
              <xs:element type="xs:string" name="schannel"/>
              <xs:element type="xs:string" name="slang"/>
              <xs:element type="xs:string" name="did"/>
              <xs:element type="xs:string" name="stime"/>
              <xs:element type="xs:string" name="szone"/>
              <xs:element type="xs:string" name="aname"/>
              <xs:element type="xs:string" name="aver"/>
              <xs:element type="xs:string" name="akey"/>
              <xs:element type="xs:string" name="abuild"/>
              <xs:element type="xs:string" name="atarget"/>
              <xs:element type="xs:string" name="slat"/>
              <xs:element type="xs:string" name="slng"/>
              <xs:element type="xs:string" name="gtcid"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ordOrderNo"/>
              <xs:element type="xs:string" name="orderType"/>
              <xs:element type="xs:string" name="optype"/>
              <xs:element name="epostCreditDTO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nameCn"/>
                    <xs:element type="xs:string" name="cardNo"/>
                    <xs:element type="xs:string" name="idType"/>
                    <xs:element type="xs:string" name="identityNo"/>
                    <xs:element type="xs:string" name="cvv"/>
                    <xs:element type="xs:string" name="validityDate"/>
                    <xs:element type="xs:string" name="mobileNo"/>
                    <xs:element type="xs:string" name="isSave"/>
                    <xs:element type="xs:string" name="tseq"/>
                    <xs:element type="xs:string" name="password"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>